#BarraLateral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    .BarraLateral {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        width: 100px;
        height: 100vh;
        padding: 25px;
        background-color: #323232;

        position: fixed;
        top: 0;
        left: 0;

        .logo {
            width: 100%;
            cursor: pointer;
        }
    }
}

